*~
*.o
*.so
*.dll
*.manifest
*.obj
*.exp
*.pdb
*.lib
*.ilk
*.dylib
*.dSYM
*.jnilib
*.class
Makefile
TAGS
autom4te.cache
config.log
config.status
config.h
config.h.in
configure
docs/java_api/javadoc
jpl.aux
jpl.idx
jpl.jar
jpl.log
jpl.out
jpl.tex
jpl.ilg
jpl.ind
jpl.toc
jpl.html
jpl.pdf
jpl.bbl
jpl.blg
src/java/Makefile
src/java/.class-senitel
jpltest.jar
jpldoc.tex
*.$$$
*.bak
src/java/.classpath
src/java/.project
*.prefs
